-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: rioanimals
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$1000000$rW2BxY9YozLLhXUiykekUI$aXhMm2affOjvOeiLr0s4ewn5uyLEJXieukAWP/eSI+I=','2025-11-09 02:34:15.881625',1,'rastor20','','','rastor20@gmail.com',1,1,'2025-11-09 02:33:36.589379');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('mm076algzjcs5sy7gcj7wzfw8idbzeht','.eJxVjDsOwjAQBe_iGlmO8ZeSnjNY6_UuDiBHipMKcXcSKQW0b2beWyRYl5rWTnMai7iIQZx-twz4pLaD8oB2nyRObZnHLHdFHrTL21TodT3cv4MKvW61z6xdHM6A5NgoGyNT9howovM6aBu8AcgEoNhZVhrDlhh23mlCBeLzBfEyOG4:1vHvFv:X7PLFD_EtI4SNsozy5vVUKEvbSRPa5YeC7EJ8Ioe9o8','2025-11-23 02:34:15.884767');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_adopcion`
--

DROP TABLE IF EXISTS `tbl_adopcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_adopcion` (
  `ADON_ID` int NOT NULL AUTO_INCREMENT,
  `ANIM_ID` int NOT NULL,
  `ADOP_ID` int NOT NULL,
  `VOLU_ID` int NOT NULL,
  `ADON_FECHA_ADOPCION` date NOT NULL,
  PRIMARY KEY (`ADON_ID`),
  KEY `ANIM_ID` (`ANIM_ID`),
  KEY `VOLU_ID` (`VOLU_ID`),
  KEY `ADOP_ID` (`ADOP_ID`),
  CONSTRAINT `tbl_adopcion_ibfk_1` FOREIGN KEY (`ANIM_ID`) REFERENCES `tbl_animal` (`ANIM_ID`),
  CONSTRAINT `tbl_adopcion_ibfk_2` FOREIGN KEY (`VOLU_ID`) REFERENCES `tbl_voluntario` (`VOLU_ID`),
  CONSTRAINT `tbl_adopcion_ibfk_3` FOREIGN KEY (`ADOP_ID`) REFERENCES `tbl_adoptante` (`ADOP_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_adopcion`
--

LOCK TABLES `tbl_adopcion` WRITE;
/*!40000 ALTER TABLE `tbl_adopcion` DISABLE KEYS */;
INSERT INTO `tbl_adopcion` VALUES (1,4,1,2,'2025-04-15'),(2,1,2,1,'2025-05-01'),(3,2,3,4,'2025-05-10'),(4,3,4,5,'2025-06-01'),(5,5,5,3,'2025-06-15'),(7,6,2,3,'2025-10-18');
/*!40000 ALTER TABLE `tbl_adopcion` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_prevent_duplicate_adoption` BEFORE INSERT ON `tbl_adopcion` FOR EACH ROW BEGIN
  DECLARE v_count INT;
  SELECT COUNT(*) INTO v_count FROM tbl_adopcion WHERE ANIM_ID = NEW.ANIM_ID;
  IF v_count > 0 THEN
    SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Este animal ya fue adoptado.';
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `tbl_adoptante`
--

DROP TABLE IF EXISTS `tbl_adoptante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_adoptante` (
  `ADOP_ID` int NOT NULL AUTO_INCREMENT,
  `ADOP_NOMBRE` varchar(100) NOT NULL,
  `ADOP_TELEFONO` varchar(10) NOT NULL,
  `ADOP_CORREO` varchar(100) NOT NULL,
  `TIPOS_SEXO_ID` int NOT NULL,
  `TIPOS_DOCUMENTO_ID` int NOT NULL,
  `ADOP_DOCUMENTO` int NOT NULL,
  PRIMARY KEY (`ADOP_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_adoptante`
--

LOCK TABLES `tbl_adoptante` WRITE;
/*!40000 ALTER TABLE `tbl_adoptante` DISABLE KEYS */;
INSERT INTO `tbl_adoptante` VALUES (1,'Jorge Ram├¡rez','3201112233','jorge@example.com',1,3,99887766),(2,'Laura Herrera','3213334455','laura@example.com',2,3,88776655),(3,'Sof├¡a M├®ndez','3225556677','sofia@example.com',2,4,77665544),(4,'Andr├®s Ortiz','3237778899','andres@example.com',1,3,66554433),(5,'Camila Su├írez','3249990000','camila@example.com',2,3,55443322),(6,'Mar├¡a P├®rez','3001234567','maria@example.com',2,3,12345678),(7,'Juan G├│mez','3107654321','juan@example.com',1,3,87654321);
/*!40000 ALTER TABLE `tbl_adoptante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_animal`
--

DROP TABLE IF EXISTS `tbl_animal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_animal` (
  `ANIM_ID` int NOT NULL AUTO_INCREMENT,
  `ANIM_NOMBRE` varchar(100) NOT NULL,
  `ANIM_ESPECIE` varchar(100) NOT NULL,
  `ANIM_SEXO` varchar(100) NOT NULL,
  `TIPOS_INGRESO_ID` int NOT NULL,
  `ANIM_FECHA_INGRESO` date NOT NULL,
  `TIPOS_ESTADO_ID` int NOT NULL,
  `ANIM_EDAD` int NOT NULL,
  `ANIM_PESO` decimal(5,2) NOT NULL,
  PRIMARY KEY (`ANIM_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_animal`
--

LOCK TABLES `tbl_animal` WRITE;
/*!40000 ALTER TABLE `tbl_animal` DISABLE KEYS */;
INSERT INTO `tbl_animal` VALUES (1,'Firulais','Perro','Macho',5,'2025-01-10',7,3,12.50),(2,'Michi','Gato','Hembra',6,'2025-02-15',7,2,4.30),(3,'Rocky','Perro','Macho',5,'2025-03-05',7,4,20.00),(4,'Luna','Gato','Hembra',5,'2025-03-20',8,1,3.20),(5,'Coco','Ave','Macho',6,'2025-04-01',7,1,0.80),(6,'Luna','Perro','F',9,'2025-01-10',5,3,12.50),(7,'Kira','Gato','F',9,'2025-02-20',5,2,4.20),(8,'Rex','Perro','M',10,'2025-03-05',5,4,22.00);
/*!40000 ALTER TABLE `tbl_animal` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_animal_insert` AFTER INSERT ON `tbl_animal` FOR EACH ROW BEGIN
  INSERT INTO TBL_HISTORIAL_MEDICO (ANIM_ID, HIME_FECHA, HIME_DESCRIPCION)
  VALUES (NEW.ANIM_ID, NOW(), CONCAT('Ingreso del animal: ', NEW.ANIM_NOMBRE));
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_after_animal_estado_change` AFTER UPDATE ON `tbl_animal` FOR EACH ROW BEGIN
  IF OLD.ANIM_NOMBRE <> NEW.ANIM_NOMBRE
     OR OLD.ANIM_EDAD <> NEW.ANIM_EDAD
     OR OLD.ANIM_PESO <> NEW.ANIM_PESO THEN

    INSERT INTO tbl_historial_medico (ANIM_ID, HIME_FECHA, HIME_DESCRIPCION)
    VALUES (
      NEW.ANIM_ID,
      NOW(),
      CONCAT('Actualizaci├│n de datos del animal: ', NEW.ANIM_NOMBRE)
    );
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `tbl_datos_maestros`
--

DROP TABLE IF EXISTS `tbl_datos_maestros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_datos_maestros` (
  `DAMA_ID` int NOT NULL AUTO_INCREMENT,
  `DAMA_NOMBRE` varchar(200) NOT NULL,
  `DAMA_ESTADO` tinyint(1) DEFAULT NULL,
  `DAMA_VALOR` varchar(30) DEFAULT NULL,
  `DAMA_TIPO` int DEFAULT NULL,
  `DAMA_DEPENDENCIA` int DEFAULT NULL,
  PRIMARY KEY (`DAMA_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_datos_maestros`
--

LOCK TABLES `tbl_datos_maestros` WRITE;
/*!40000 ALTER TABLE `tbl_datos_maestros` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_datos_maestros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_historial_medico`
--

DROP TABLE IF EXISTS `tbl_historial_medico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_historial_medico` (
  `HIME_ID` int NOT NULL AUTO_INCREMENT,
  `ANIM_ID` int NOT NULL,
  `TIPOS_ATENCION_ID` int NOT NULL,
  `HIME_FECHA` date NOT NULL,
  `HIME_DESCRIPCION` varchar(500) NOT NULL,
  PRIMARY KEY (`HIME_ID`),
  KEY `ANIM_ID` (`ANIM_ID`),
  CONSTRAINT `tbl_historial_medico_ibfk_1` FOREIGN KEY (`ANIM_ID`) REFERENCES `tbl_animal` (`ANIM_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_historial_medico`
--

LOCK TABLES `tbl_historial_medico` WRITE;
/*!40000 ALTER TABLE `tbl_historial_medico` DISABLE KEYS */;
INSERT INTO `tbl_historial_medico` VALUES (1,1,9,'2025-01-15','Primera vacunaci├│n'),(2,2,10,'2025-02-20','Desparasitaci├│n general'),(3,3,9,'2025-03-07','Vacunaci├│n contra rabia'),(4,4,10,'2025-03-25','Desparasitaci├│n preventiva'),(5,5,9,'2025-04-05','Vacunaci├│n contra gripe aviar'),(6,1,7,'2025-01-11','Primera vacuna aplicada'),(7,2,8,'2025-02-21','Consulta por desparasitaci├│n');
/*!40000 ALTER TABLE `tbl_historial_medico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_voluntario`
--

DROP TABLE IF EXISTS `tbl_voluntario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_voluntario` (
  `VOLU_ID` int NOT NULL AUTO_INCREMENT,
  `VOLU_NOMBRE` varchar(100) NOT NULL,
  `VOLU_TELEFONO` varchar(10) NOT NULL,
  `VOLU_CORREO` varchar(100) NOT NULL,
  `TIPOS_SEXO_ID` int NOT NULL,
  `TIPOS_DOCUMENTO_ID` int NOT NULL,
  `VOLU_DOCUMENTO` int NOT NULL,
  PRIMARY KEY (`VOLU_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_voluntario`
--

LOCK TABLES `tbl_voluntario` WRITE;
/*!40000 ALTER TABLE `tbl_voluntario` DISABLE KEYS */;
INSERT INTO `tbl_voluntario` VALUES (1,'Carlos L├│pez','3001234567','carlos@example.com',1,3,11223344),(2,'Mar├¡a P├®rez','3017654321','maria@example.com',2,3,22334455),(3,'Luis G├│mez','3025554444','luis@example.com',1,4,55667788),(4,'Ana Torres','3009876543','ana@example.com',2,3,66778899),(5,'Pedro D├¡az','3012233445','pedro@example.com',1,3,77889900),(6,'Carla Ruiz','3111111111','carla@example.com',2,3,5555555),(7,'Andr├®s Torres','3122222222','andres@example.com',1,3,6666666);
/*!40000 ALTER TABLE `tbl_voluntario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_adoptantes_con_total`
--

DROP TABLE IF EXISTS `vw_adoptantes_con_total`;
/*!50001 DROP VIEW IF EXISTS `vw_adoptantes_con_total`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_adoptantes_con_total` AS SELECT 
 1 AS `ADOP_ID`,
 1 AS `Total_Animales_Adoptados`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_animales_disponibles`
--

DROP TABLE IF EXISTS `vw_animales_disponibles`;
/*!50001 DROP VIEW IF EXISTS `vw_animales_disponibles`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_animales_disponibles` AS SELECT 
 1 AS `ANIM_ID`,
 1 AS `ANIM_NOMBRE`,
 1 AS `ANIM_ESPECIE`,
 1 AS `ANIM_SEXO`,
 1 AS `ANIM_EDAD`,
 1 AS `ANIM_PESO`,
 1 AS `ANIM_FECHA_INGRESO`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_ultimas_adopciones`
--

DROP TABLE IF EXISTS `vw_ultimas_adopciones`;
/*!50001 DROP VIEW IF EXISTS `vw_ultimas_adopciones`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_ultimas_adopciones` AS SELECT 
 1 AS `ADON_ID`,
 1 AS `ADON_FECHA_ADOPCION`,
 1 AS `ANIM_NOMBRE`,
 1 AS `adoptante_nombre`,
 1 AS `voluntario`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vw_adoptantes_con_total`
--

/*!50001 DROP VIEW IF EXISTS `vw_adoptantes_con_total`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_adoptantes_con_total` AS select `ad`.`ADOP_ID` AS `ADOP_ID`,count(`ad`.`ANIM_ID`) AS `Total_Animales_Adoptados` from `tbl_adopcion` `ad` group by `ad`.`ADOP_ID` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_animales_disponibles`
--

/*!50001 DROP VIEW IF EXISTS `vw_animales_disponibles`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_animales_disponibles` AS select `a`.`ANIM_ID` AS `ANIM_ID`,`a`.`ANIM_NOMBRE` AS `ANIM_NOMBRE`,`a`.`ANIM_ESPECIE` AS `ANIM_ESPECIE`,`a`.`ANIM_SEXO` AS `ANIM_SEXO`,`a`.`ANIM_EDAD` AS `ANIM_EDAD`,`a`.`ANIM_PESO` AS `ANIM_PESO`,`a`.`ANIM_FECHA_INGRESO` AS `ANIM_FECHA_INGRESO` from (`tbl_animal` `a` join `tbl_datos_maestros` `t` on((`a`.`TIPOS_ESTADO_ID` = `t`.`DAMA_ID`))) where ((`t`.`DAMA_NOMBRE` = 'estado') and (`t`.`DAMA_VALOR` = 'disponible')) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_ultimas_adopciones`
--

/*!50001 DROP VIEW IF EXISTS `vw_ultimas_adopciones`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_ultimas_adopciones` AS select `ad`.`ADON_ID` AS `ADON_ID`,`ad`.`ADON_FECHA_ADOPCION` AS `ADON_FECHA_ADOPCION`,`a`.`ANIM_NOMBRE` AS `ANIM_NOMBRE`,`ap`.`ADOP_NOMBRE` AS `adoptante_nombre`,`v`.`VOLU_NOMBRE` AS `voluntario` from (((`tbl_adopcion` `ad` join `tbl_animal` `a` on((`ad`.`ANIM_ID` = `a`.`ANIM_ID`))) join `tbl_adoptante` `ap` on((`ad`.`ADOP_ID` = `ap`.`ADOP_ID`))) join `tbl_voluntario` `v` on((`ad`.`VOLU_ID` = `v`.`VOLU_ID`))) order by `ad`.`ADON_FECHA_ADOPCION` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-08 21:44:09
